<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>alunoController</servlet-name>
        <servlet-class>Controller.alunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>professorController</servlet-name>
        <servlet-class>Controller.professorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>turmaController</servlet-name>
        <servlet-class>Controller.turmaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>matriculaController</servlet-name>
        <servlet-class>Controller.matriculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exameController</servlet-name>
        <servlet-class>Controller.exameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>folhaRespostaController</servlet-name>
        <servlet-class>Controller.folhaRespostaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alunoController</servlet-name>
        <url-pattern>/alunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>professorController</servlet-name>
        <url-pattern>/professorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>turmaController</servlet-name>
        <url-pattern>/turmaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>matriculaController</servlet-name>
        <url-pattern>/matriculaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exameController</servlet-name>
        <url-pattern>/exameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>folhaRespostaController</servlet-name>
        <url-pattern>/folhaRespostaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
